

<div class="page-card">
	<div class="page-card-top"></div>
    <div class="page-card-type">{{ include.param[1].type }}</div>
    <div class="page-card-middle">
    	<div class="page-card-left"></div>
    	<div class="page-card-cont">
	    	<div class="page-card-cont-title">{{ include.param[1].title }}</div>
	    	<div class="page-card-cont-content">{{ include.param[1].content }}</div>
	    </div>
	    <div class="page-card-left"></div>
    </div>
    
	<div class="page-card-bottom"></div>
    
</div>