

.page-guide-user-name{
  margin-bottom: .4rem;
  font-size: .44rem;
  color:#505252;
  text-align:left;
}

.page-guide-content{
  font-size: .3rem;
  color:#505252;
  padding: .1rem 0;
  text-align:left;
  text-indent: 2em;
}