.page-motto {
    border: .04rem solid #08aca2;
    position: relative;
    margin: .50rem 0;
	background: #fbffff;

}
.page-motto-title{
  position: absolute;
  left: 50%;
  margin-left: -158rem;
  color: #fff;
  text-align: center;
  height: 78rem;
  font-size: 36rem;
  line-height: 78rem;
  width: 316rem;
  top: -39rem;
  background: url(/assets/page-motto-title-bg.png) no-repeat;
  background-size: 100% 100%;
  font-weight: bold; 
  transform: scale(0.01);
  }
.page-motto-content{
	margin:.74rem .3rem 0;
	font-size: .3rem;
	color: #08aca2;
	line-height: .52rem;
}
.pag-motto-from{
	margin:.08rem .3rem .34rem;
	text-align: right;
	font-size: .28rem;
	color: #08aca2;
}
.pag-motto-from-line{
	display: inline-block;
	border-top:.04rem solid #08aca2;
	width:1.2rem;
	margin-right: .16rem;
	margin-bottom: .06rem;
}
.pag-motto-from-null{
	height: .74rem;
}